ul{ 
    list-style-type:none;
    list-style-image:url("img/icon1.png");
}

/* container */

.container{
    display:grid;
    grid-template-columns:1fr 4fr;
}

/* sidebar */

.sidebar{
    color:white;
    background-color: #1c94d3;
    grid-row: 1 / 4;
}
.sidebard-1{
    display:block;
}

/* header */
.header{
    grid-column: 2 / 3;
}

.searchbar{
    
}


.content{
    grid-column: 2 / 4;
    background-color: #E1E7EF;
}

