/* reset everything */
*, *::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

    
html, body {
    width: 100%;
    height: 100%;
}


ul{ 
    list-style-type:none;
    list-style-image:url("img/icon1.png");
}

/* container */

.container{
    display:grid;
    grid-template-columns:400px 4fr;
    width:100%;
    height: 100%;
}

/* sidebar */

.sidebar{
    color:white;
    background-color: #1c94d3;
    grid-row: 1 / 4;    
    display:flex;
    flex-direction:column;
    align-items:start;
    padding-left:40px;
    padding-top:15px;
    font-size:30px;
    font-weight: bold;
}

.sidebar li{
    padding-bottom:30px;
}


.sidebar-1 p{
    font-size:40px;
    margin:0;
}



/* header */
.header{
    grid-column: 2 / 3;
}

.searchbar{
    display:flex;
    justify-content: space-between;
}

.searchbar-input{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:60px;
    padding-right:200px;
}

.searchbar-input img{
    max-width: 100%; /* ensures image doesn't overflow */
    max-height: 100%;
    padding-bottom:10px;
}


.searchbar-input input{
    width:900px;
    background-color:rgb(211, 208, 208);    
    height:30px;
    border-radius:20px;
    border:none;
}


.searchbar-notification{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:15px;
}

.searchbar-notification img{
    padding-left:20px;
}

.searchbar-notification p{
    padding: 0 60px 0 20px;
}


.profile{
    display: flex;
    justify-content: space-between; 
    margin: 30px 0 30px 0;

}


.profile-hello{
  display: flex;
  align-items: center;
  padding-left:3vw;
}

.profile-hello img{
    padding-right:20px;
    width:90px;
}

.profile #hi{
    font-size:0.7em;
    margin-bottom: 0;
}

.profile #name{
    margin: 5px 0 10px 0;
    font-weight:bold;
    font-size:1.5em;
}

.profile-buttons{
    width:15vw;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-right:60px;
}

.profile-buttons button{
    width:100px;
    height:40px;
    border-radius:40%;
    border:none;
    background-color: #1c94d3;
    color:#FFFFFF;
}
/* content */

.content{
    grid-column: 2 / 4;
    background-color: #E1E7EF;
    height:100vh;
    display:flex;
}

.your-project{
    margin:20px 10px 0 20px;
}

.your-project-containers{

    display:grid;
    gap:50px;
    grid-template: 200px 200px 200px / 500px  500px;
}

#your-project-title{
    font-size:1.2em;
    color:#161616;
}

.your-project .card{
    background-color:white;
    border-left: 10px solid #EFB342;
    border-radius:2%;
}

.your-project-containers-img{
    display: flex;
    justify-content: flex-end;

}
.your-project-containers-img img{
    box-sizing: border-box;
    width:50px;
    padding-top:30px;
    padding-right: 30px;
}
